body {
    padding: 0;
    text-align: center;
    background-color: black;
  }

  #steps h1{
    //margin: 0%;
    font-size: 30px;
    text-align: center;
    color: white;
    font-weight: ;    
    //padding-bottom: ;


  }

  #steps p{
    //margin: 0%;
    font-size: 25px;
    text-align: center;
    color: white;
    font-weight: ;    
    //padding-bottom: ;


  }

  .game-intro {
    float: center;
    padding: 0% 20%;
  }

  .logo-pokemon {
    width: 300px;
    height: 200pxa;
  }

  /*.battle-field {
    float: center;
    padding: 3% 0%;  
  }*/


  #canvas {
    width: 1300px;
    height: 6aa00px;
  }

  /*.field {
    width: auto;
    height: 800px;
    
  }*/

  /*.pokemon1 //{
    display: flex;
    align-items: center;
  }*/

 /* .grey {
    width: 10%;
    height: 110px;
  }*/